<div class="min-h-screen bg-white dark:bg-black text-black dark:text-white">
  <z-site-top-nav></z-site-top-nav>
  <main
    class="flex flex-col justify-center bg-white dark:bg-black px-8 text-gray-900 dark:text-gray-100"
  >
    <div
      class="flex flex-col justify-center items-start max-w-2xl mx-auto mb-16"
    >
      <z-site-home (scrollToTop)="shouldShowScrollBtn = $event"></z-site-home>
    </div>
  </main>
  <div class="sticky bottom-8 mx-auto p-8 flex justify-end max-w-4xl">
    <button
      [hidden]="!shouldShowScrollBtn"
      class="hover:animate-bounce"
      (click)="scrollToTop()"
    >
      <svg
        class="w-6 h-6 text-slate-700 dark:text-slate-200 hover:text-sky-500 dark:hover:text-sky-400 rotate-180"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
      </svg>
    </button>
  </div>
</div>
