<ng-container *transloco="let t">
  <div
    #container
    class="flex flex-col justify-center bg-white dark:bg-black px-8 text-gray-900 dark:text-gray-100 scroll-smooth"
  >
    <h3
      class="font-bold text-3xl md:text-6xl tracking-wide mb-4 bg-amber-200 dark:bg-amber-600 text-center"
    >
      {{ t('about.name') }}
    </h3>
    <h3
      class="font-bold text-xl md:text-2xl tracking-wide mb-4 text-green-800 dark:text-green-600 text-center capitalize"
    >
      {{ t('about.description') }}
    </h3>
    <p>
      Min-Chieh worked as a full-stack developer in Application Director when
      joining VMware in 2013. Later he focused on UI development and was lead of
      some key features in vRealize Automation from early design phase. He was
      part of core development of Tekton in constructing a plugin system where
      users can design views with API support. He implemented the initial
      version of several core features in Tango Blueprint UI, and he was also a
      contributor of Custom Form and Tango UI SDK.
    </p>
    <h3
      class="font-bold text-2xl md:text-4xl tracking-wide mb-4 text-black dark:text-white text-center uppercase"
      id="experience"
    >
      {{ t('title.experience') }}
    </h3>
    <p>
      Min-Chieh worked as a full-stack developer in Application Director when
      joining VMware in 2013. Later he focused on UI development and was lead of
      some key features in vRealize Automation from early design phase. He was
      part of core development of Tekton in constructing a plugin system where
      users can design views with API support. He implemented the initial
      version of several core features in Tango Blueprint UI, and he was also a
      contributor of Custom Form and Tango UI SDK.
    </p>
    <h3
      class="font-bold text-2xl md:text-4xl tracking-wide mb-4 text-black dark:text-white text-center uppercase"
      id="projects"
    >
      {{ t('title.projects') }}
    </h3>
    <p>
      Min-Chieh worked as a full-stack developer in Application Director when
      joining VMware in 2013. Later he focused on UI development and was lead of
      some key features in vRealize Automation from early design phase. He was
      part of core development of Tekton in constructing a plugin system where
      users can design views with API support. He implemented the initial
      version of several core features in Tango Blueprint UI, and he was also a
      contributor of Custom Form and Tango UI SDK.
    </p>
    <h3
      class="font-bold text-2xl md:text-4xl tracking-wide mb-4 text-black dark:text-white text-center uppercase"
      id="skills"
    >
      {{ t('title.skills') }}
    </h3>
    <p>
      Min-Chieh worked as a full-stack developer in Application Director when
      joining VMware in 2013. Later he focused on UI development and was lead of
      some key features in vRealize Automation from early design phase. He was
      part of core development of Tekton in constructing a plugin system where
      users can design views with API support. He implemented the initial
      version of several core features in Tango Blueprint UI, and he was also a
      contributor of Custom Form and Tango UI SDK.
    </p>
    <h3
      class="font-bold text-2xl md:text-4xl tracking-wide mb-4 text-black dark:text-white text-center uppercase"
      id="contact"
    >
      {{ t('title.contact') }}
    </h3>
    <p>
      Min-Chieh worked as a full-stack developer in Application Director when
      joining VMware in 2013. Later he focused on UI development and was lead of
      some key features in vRealize Automation from early design phase. He was
      part of core development of Tekton in constructing a plugin system where
      users can design views with API support. He implemented the initial
      version of several core features in Tango Blueprint UI, and he was also a
      contributor of Custom Form and Tango UI SDK.
    </p>
  </div>
</ng-container>
