<ng-container *transloco="let t">
  <nav
    class="sticky-nav flex justify-end items-center max-w-4xl w-full p-8 my-0 md:mb-8 mx-auto bg-white dark:bg-black bg-opacity-60"
  >
    <nav
      class="text-sm leading-6 font-semibold text-slate-700 dark:text-slate-200"
    >
      <ul class="flex space-x-8">
        <li>
          <a
            class="hover:text-sky-500 dark:hover:text-sky-400 before:border-b-sky-400"
            [routerLink]="[]"
            fragment="experience"
            (click)="scrollToAnchor('experience')"
            >{{ t('title.experience') }}</a
          >
        </li>
        <li>
          <a
            class="hover:text-sky-500 dark:hover:text-sky-400"
            [routerLink]="[]"
            fragment="projects"
            (click)="scrollToAnchor('projects')"
            >{{ t('title.projects') }}</a
          >
        </li>
        <li>
          <a
            class="hover:text-sky-500 dark:hover:text-sky-400"
            [routerLink]="[]"
            fragment="skills"
            (click)="scrollToAnchor('skills')"
            >{{ t('title.skills') }}</a
          >
        </li>
        <li>
          <a
            class="hover:text-sky-500 dark:hover:text-sky-400"
            [routerLink]="[]"
            fragment="contact"
            (click)="scrollToAnchor('contact')"
            >{{ t('title.contact') }}</a
          >
        </li>
      </ul>
    </nav>
    <div
      class="flex items-center border-l border-slate-400 ml-6 pl-6 dark:border-slate-600 space-x-4 relative"
    >
      <button
        type="button"
        aria-label="translate"
        aria-haspopup="true"
        aria-expanded="false"
        (click)="openMenu($event)"
      >
        <svg
          viewBox="0 0 48 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6 stroke-slate-700 dark:stroke-slate-200 hover:stroke-sky-500 dark:hover:stroke-sky-400"
        >
          <path
            d="M42 42L39.7143 37M26 42L28.2857 37M28.2857 37L34 24L39.7143 37M28.2857 37H39.7143"
            class=""
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M16 6L17 9"
            class=""
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M6 11H28"
            class=""
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M10 16C10 16 11.7895 22.2609 16.2632 25.7391C20.7368 29.2174 28 32 28 32"
            class=""
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M24 11C24 11 22.2105 19.2174 17.7368 23.7826C13.2632 28.3478 6 32 6 32"
            class=""
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <ul
        class="absolute z-50 top-full right-0 bg-white rounded-lg ring-1 ring-slate-900/10 shadow-lg overflow-hidden w-36 py-1 text-sm text-slate-700 font-semibold dark:bg-slate-800 dark:ring-0 dark:highlight-white/5 dark:text-slate-300 mt-8"
        aria-labelledby="headlessui-listbox-label-3"
        aria-orientation="vertical"
        id="headlessui-listbox-options-5"
        role="listbox"
        tabindex="0"
        [hidden]="!toShowTranslateMenu"
      >
        <li
          class="py-1 px-2 flex items-center cursor-pointer justify-center hover:text-sky-500 dark:hover:text-sky-400"
          id="headlessui-listbox-option-11"
          role="option"
          tabindex="-1"
          (click)="changeLang('en')"
        >
          English
        </li>
        <li
          class="py-1 px-2 flex items-center cursor-pointer justify-center hover:text-sky-500 dark:hover:text-sky-400"
          id="headlessui-listbox-option-12"
          role="option"
          tabindex="-1"
          (click)="changeLang('zh_TW')"
        >
          正體中文
        </li>
      </ul>
      <button
        type="button"
        aria-haspopup="false"
        aria-expanded="false"
        (click)="clickTheme()"
      >
        <span class="dark:hidden"
          ><svg
            viewBox="0 0 24 24"
            fill="none"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6 h-6 stroke-slate-700 dark:stroke-slate-200 hover:stroke-sky-500 dark:hover:stroke-sky-400"
          >
            <path d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
            <path
              d="M12 4v1M17.66 6.344l-.828.828M20.005 12.004h-1M17.66 17.664l-.828-.828M12 20.01V19M6.34 17.664l.835-.836M3.995 12.004h1.01M6 6l.835.836"
            ></path></svg></span
        ><span class="hidden dark:inline"
          ><svg
            viewBox="0 0 24 24"
            fill="none"
            class="w-6 h-6 fill-slate-700 dark:fill-slate-200 hover:fill-sky-500 dark:hover:fill-sky-400"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M17.715 15.15A6.5 6.5 0 0 1 9 6.035C6.106 6.922 4 9.645 4 12.867c0 3.94 3.153 7.136 7.042 7.136 3.101 0 5.734-2.032 6.673-4.853Z"
              class="fill-transparent"
            ></path>
            <path
              d="m17.715 15.15.95.316a1 1 0 0 0-1.445-1.185l.495.869ZM9 6.035l.846.534a1 1 0 0 0-1.14-1.49L9 6.035Zm8.221 8.246a5.47 5.47 0 0 1-2.72.718v2a7.47 7.47 0 0 0 3.71-.98l-.99-1.738Zm-2.72.718A5.5 5.5 0 0 1 9 9.5H7a7.5 7.5 0 0 0 7.5 7.5v-2ZM9 9.5c0-1.079.31-2.082.845-2.93L8.153 5.5A7.47 7.47 0 0 0 7 9.5h2Zm-4 3.368C5 10.089 6.815 7.75 9.292 6.99L8.706 5.08C5.397 6.094 3 9.201 3 12.867h2Zm6.042 6.136C7.718 19.003 5 16.268 5 12.867H3c0 4.48 3.588 8.136 8.042 8.136v-2Zm5.725-4.17c-.81 2.433-3.074 4.17-5.725 4.17v2c3.552 0 6.553-2.327 7.622-5.537l-1.897-.632Z"
            ></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M17 3a1 1 0 0 1 1 1 2 2 0 0 0 2 2 1 1 0 1 1 0 2 2 2 0 0 0-2 2 1 1 0 1 1-2 0 2 2 0 0 0-2-2 1 1 0 1 1 0-2 2 2 0 0 0 2-2 1 1 0 0 1 1-1Z"
            ></path></svg
        ></span>
      </button>
    </div>
  </nav>
</ng-container>
